# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environment
env/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore sensitive configuration files
devops_bot/
installation.sh
setup.py
wsgi.py
gunicorn_config.py
gunicorn_master_config.py
# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environment
env/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore sensitive configuration files
devops_bot/
installation.sh
setup.py
wsgi.py
gunicorn_config.py
gunicorn_master_config.py

